<main class="mt-5 d-flex justify-content-center  vh-100">
    <section id="hero">   
        <a target="_blank" href="https://wa.me/573028552385" class="button">¡Escribenos!</a>
    </section>

    <div class="container">
        <div class="card mx-auto" style="width: 500px;">
            <div class="card-header text-center">
                <img class="card-img-top mx-auto m-2 rounded-circle" src="/img/HotelInicio.jpg" alt="" style="width: 150px; display:block;">
                <h3 class="text-uppercase text-center p-4">CRUD CON Node .JS + MYSQL</h3> 
            </div>
            <div class="card-body text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur totam soluta culpa tempora iste sunt ipsum dolore adipisci, eius quo consequatur odit. Veritatis eum similique, debitis mollitia explicabo aliquid nisi.</p>
                <a href="/add" class="btn btn-primary">Crear una persona</a>
            </div>
        </div>
    </div>
</main>

<style>
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 850px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/HotelInicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

</style>